<div class="jumbotron jumbotron-fluid"></div>
<div class="container-fluid">
    <h3 class="text-center">Latest bugs</h3>
    <div class="row">
        <% @bugs.each do |bug| %>
            <div class="col-md-4">
                <h2><%= bug.title %></h2>
                <p><%= bug.description %></p>
                <p><%= link_to 'Learn more', bug, class: "btn btn-primary" %></p>
            </div>
        <% end %>
    </div>
</div>
